
<!DOCTYPE html>
<html>
<head>
<title>Browse Music</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>
<header>
<h1>Browse Music</h1>
<a href="/">Home</a>
</header>
<main>
<h2>Categories</h2>
<ul>
<li><a href="/browse/pop">Pop</a></li>
<li><a href="/browse/rock">Rock</a></li>
<li><a href="/browse/hip-hop">Hip-Hop</a></li>
<li><a href="/browse/electronic">Electronic</a></li>
<li><a href="/browse/country">Country</a></li>
</ul>
<h2>Playlists</h2>
<ul>
<li><a href="/playlist/1">Playlist 1</a></li>
<li><a href="/playlist/2">Playlist 2</a></li>
<li><a href="/playlist/3">Playlist 3</a></li>
<li><a href="/playlist/4">Playlist 4</a></li>
<li><a href="/playlist/5">Playlist 5</a></li>
</ul>
<h2>Albums</h2>
<ul>
<li><a href="/album/1">Album 1</a></li>
<li><a href="/album/2">Album 2</a></li>
<li><a href="/album/3">Album 3</a></li>
<li><a href="/album/4">Album 4</a></li>
<li><a href="/album/5">Album 5</a></li>
</ul>
</main>
<footer>
<p>Copyright &copy; 2023 Music Streaming Service</p>
</footer>
</body>
</html>

