
<!DOCTYPE html>
<html>
<head>
<title>Music Streaming Service</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>
<header>
<h1>Music Streaming Service</h1>
<form action="/search">
<input type="text" name="query" placeholder="Search for music...">
<input type="submit" value="Search">
</form>
</header>
<main>
<h2>Categories</h2>
<ul>
<li><a href="/browse/pop">Pop</a></li>
<li><a href="/browse/rock">Rock</a></li>
<li><a href="/browse/hip-hop">Hip-Hop</a></li>
<li><a href="/browse/electronic">Electronic</a></li>
<li><a href="/browse/country">Country</a></li>
</ul>
<h2>Popular Songs</h2>
<ul>
<li><a href="/song/1">Song 1</a></li>
<li><a href="/song/2">Song 2</a></li>
<li><a href="/song/3">Song 3</a></li>
<li><a href="/song/4">Song 4</a></li>
<li><a href="/song/5">Song 5</a></li>
</ul>
</main>
<footer>
<p>Copyright &copy; 2023 Music Streaming Service</p>
</footer>
</body>
</html>


